<div class="server-wrapper col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
  <div class="server-body ml-3 my-3">
    <mat-radio-button [checked]="servers[iAgentServerType].checked"
                      [value]="iAgentServerType"
                      (change)="onSelectConnectionType($event)">
      {{servers[iAgentServerType].title}}
    </mat-radio-button>

    <div class="ml-4" *ngIf="servers[iAgentServerType].checked">
      <app-iagent-server [iAgentServer]="iAgentServer"
                         [switchedItem]="switchedItem"
                         (sizeFirstCol)="onResizeFirstCol($event)"
                         (onIAgentServerChanged)="serverChanged($event)">
      </app-iagent-server>

    </div>
    <div>
      <mat-radio-button [checked]="servers[cloudType].checked" [value]="cloudType"
                        (change)="onSelectConnectionType($event)">
        {{servers[cloudType].title}}
      </mat-radio-button>
    </div>


  </div>
</div>
