<div class="server-wrapper">
  <div class="server-body ml-3 my-3">
    <mat-radio-button [checked]="servers[0].checked"
                      [value]="servers[0].id"
                      (change)="onSelectConnectionType($event)">
      {{servers[0].title}}
    </mat-radio-button>

    <div class="ml-4" *ngIf="servers[0].checked">
      <app-iagent-server [iAgentServer]="iAgentServer"
                         (onIAgentServerChanged)="serverChanged($event)">
      </app-iagent-server>

    </div>
    <div>
      <mat-radio-button [checked]="servers[1].checked" [value]="servers[1].id"
                        (change)="onSelectConnectionType($event)">
        {{servers[1].title}}
      </mat-radio-button>
    </div>


  </div>
</div>
