<div class="message-bubble-wrapper" [formGroup]="form">
  <div class="sub-header">
    {{subHeader}}
  </div>
  <div class="row my-2 mx-0 body">
    <div class="col-6 my-auto">
      <div class="bubble" [id]="id">
        <span class="mt-3 ml-2">Test</span>
      </div>
    </div>
    <div class="col-6">
      <input
        class="col my-2"
        type="text"
        formControlName="backgroundColor"
        placeholder="background color">
      <input
        class="col my-2"
        type="text"
        formControlName="borderColor"
        placeholder="border color">
      <input
        class="col my-2"
        type="text"
        formControlName="borderRadius"
        placeholder="border radius">
      <input
        class="col my-2"
        type="text"
        formControlName="fontColor"
        placeholder="font color">
    </div>
  </div>
</div>
