@import '../../../../../../assets/styles/variables';

.frontend-settings {
  .body {
    margin: 1em 0;
    border: 1px solid #000000;
  }
}
.frontend-body {
  max-height:  calc(100vh - #{$navbar_wrapper_height} - #{$footer_height} - 10px - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  font-weight: bold;
  font-size: 18px;

}

button {
  background-color: #ababab !important;
  margin-right: 40px;
  &:hover {
    background-color: #8a8a8a !important;
  }
}

.button-group {
  position:absolute;
  bottom:2%;
}
.table{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

  thead th {
    border-bottom: none;
  }

  td, th {
    vertical-align: middle !important;
    border-top: none;
    //white-space: nowrap
  }

  td:first-child {
    //width: 186px !important;

  }
  td:last-child {
    //width: 100%;

  }

}
