<div class="iagent-server-wrapper">

  <table class="table" [formGroup]="formIAgentServer" style="width: 100%">
    <tbody>
    <tr>
      <td class="first-col">iAgent URL (Chat API)</td>
      <td>
        <input class="col" id="address" type="text" formControlName="address"
               placeholder="http://chat.novomind.com:5830">
      </td>
    </tr>

    <!--<tr>-->
    <!--<td>API Benutzer</td>-->
    <!--<td>-->
    <!--<input class="col" id="userAPI" type="text" formControlName="userAPI" placeholder="chatuser">-->
    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td>Kennwort</td>-->
    <!--<td>-->
    <!--<input class="col" id="password" type="password" formControlName="password"-->
    <!--placeholder="Password">-->
    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td>Client ID</td>-->
    <!--<td>-->
    <!--<input class="col" id="clientID" type="text" formControlName="clientId" placeholder="CHAT">-->
    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td>Secret</td>-->
    <!--<td>-->
    <!--<input class="col" id="secret" type="text" formControlName="secret" placeholder="CHAT">-->
    <!--</td>-->
    <!--</tr>-->
    </tbody>


  </table>
</div>
