/* You can add global styles to this file, and also import other style files */
@import "assets/styles/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: .9em;
  letter-spacing: 1px;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
  }

  h1, h2, h3 {
    font-weight: bold;
  }

  a {
    cursor: pointer;
  }
}

input, input.form-control, textarea.form-control {
  border-radius: 3px;
  border: 1px solid black !important;
  // padding: 0.375em !important;
  font-size: 1em;
  line-height: normal;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form-control {
  border: 1px solid #000000;
}

.navbar {
  .navbar-brand {
    color: #6a6a6a;
    font-size: 22px;

    img {
      display: inline-block;
      margin-right: 8px;
      width: 50px;
      height: 50px;
    }
  }

  .navbar-nav .nav-link {
    color: #6a6a6a;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
  }
}


@keyframes opacityOn {
  0% {
    opacity: 0;
    //max-height: 0px;
  }
  100% {
    opacity: 1;
    //max-height: 100%;
  }
}

input.flat-input {
  border-radius: 1px;
  color: rgb(72, 72, 72);

  &.flat-input-lg {
    padding: 10px 15px;
  }

  &:focus {
    box-shadow: none;
    width: 100% !important;
    border-radius: 2px !important;
    border: 1px solid rgb(0, 132, 137) !important;
  }
}


.btn {
  border-radius: 3px;

  &:focus {
    box-shadow: none;
  }

  &.btn-danger {
    background-color: #ff6b6b;
    border-color: #ff6b6b;

    &:hover {
      background-color: #ee5253;
      border-color: #ee5253;

    }
  }
}


input.ng-dirty.ng-invalid {
  border: 1px solid rgb(252, 100, 45) !important;
  background-color: rgb(255, 248, 246) !important;
}

.input-error-text {
  color: rgb(217, 57, 0) !important;
  line-height: 18px;
}



.card-header {
  background: #ff7675;
  color: #fff !important;
}

.vertical-middle {
  display: flex;
  align-items: center;
}

textarea {
  border: 1px solid #dedede;
  border-radius: 5px;
  resize: none;
}


/**
ALERT
*/

.alert {
  border: none !important;
  border-radius: 20px;
  padding: 10px 20px;
}


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
  border: 1px solid #DBDBDB !important;


}

input.form-control, textarea.form-control {
  padding: 11px 11px 11px 25px;
}

button {
  display: block;
  outline: none !important;

  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.standard-mh {
  min-height: 1200px !important;
}


.mat-checkbox-disabled .mat-checkbox-label {
  color: inherit;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 38px !important;
  padding: 0 5px !important;
}

.cropper .move
{
  width: 100%;
  cursor: move;
  border: 2px solid red !important;
}
