<div class="section-heading">Change password</div>
<div class="card-body">
  <form class="w-100 mb-3" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group row mt-3">
      <div class="col-2 col-md-4 col-form-label">new password</div>
      <input class="form-control col-7 rounded form-control-sm"
             type="password"
             formControlName="password">
      <div class="input-error-text mt-2"
           *ngIf="!form.controls['password'].valid && form.controls['password'].dirty">
        Password is not valid
      </div>
    </div>
    <div class="form-group row mt-2">
      <div class="col-2 col-md-4 col-form-label">retyped password</div>
      <input class="form-control col-7 rounded form-control-sm"
             type="password"
             formControlName="retypedPassword">
      <div class="input-error-text mt-2"
           *ngIf="!form.controls['retypedPassword'].valid &&  form.controls['retypedPassword'].dirty">
        Password does not match
      </div>
    </div>

    <div class="form-group row mt-2">
      <div class="col-2 col-md-4 col-form-label">old password</div>
      <input class="form-control col-7 rounded form-control-sm"
             type="password"
             formControlName="oldPassword">
      <div class="input-error-text mt-2"
           *ngIf="!form.controls['oldPassword'].valid && form.controls['oldPassword'].dirty">
        invalid password
      </div>
    </div>
    <div class="row mt-3">
      <button mat-raised-button>
        <strong>Submit</strong>
      </button>
    </div>
  </form>


</div>


<swal
  #passwordUpdatedSwal
  title="Yesss!"
  text="password has been updated"
  type="success">
</swal>

<swal
  #passwordWrongSwal
  title="Oops!"
  text="Password is wrong"
  type="error">
</swal>
