
button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 0;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  min-width: 100px;
  max-width: 120px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: rgba(255, 153, 36, 0.5);
}

.button-group-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.button-group-wrapper.full-side {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  width: 100%;
  height: 100%;
  align-items: center;
}

button[class*="space-before"] {
  margin-top: 10px;
}
