#chatWindowWrapper {
  border: 1px solid black !important;
  border-radius: 5px;
  resize: both;
  overflow: hidden;
  min-width: 350px;
  min-height: 400px;
  max-height: 100vh;
  max-width: 100%;
}

div[class*="is-fixed"] {
  z-index: 9;
  max-width: 450px !important;
  max-height: 600px !important;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#conversationWrapper {
  display: flex;
  flex-direction: column;
  margin-right: -30px;
  padding-right: 30px;
  flex-flow: column;
}

#conversationBody {
  position: relative;
  overflow-y: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 10px;
}


#conversationFooter {
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-block-end: 0 !important;
  margin-bottom: 0 !important;
}

.input-area.above {
  border-width: 0 0 1px 0 !important;
  border-style: solid solid solid solid !important;
}

#inputText:focus {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#inputText {
  border: none;
  resize: none;
  padding: 11px 11px 11px 25px;
  box-sizing: border-box;
  border-radius: 0;
}

#inputText:focus {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-text.above.by-side {
  width: 70% !important;
  border-width: 0 1px 0 0 !important;
  border-style: solid solid solid solid !important;
}

.input-text.above {
  border-width: 0 !important;
  border-style: solid solid solid solid !important;
}

.input-text.by-side {
  width: 70% !important;
  border-width: 1px 1px 0 0 !important;
  border-style: solid solid solid solid !important;
}

.input-text.full-side {
  width: 100% !important;
  border-width: 1px 0 1px 0 !important;
  border-style: solid solid solid solid !important;
}

.input-text.above.full-side {
  width: 100% !important;
  border-width: 0 !important;
  border-style: solid solid solid solid !important;
}

#logoChat {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
  position: sticky;
  z-index: 2;
  margin: 0 auto;
  right: 0;
  border-radius: 5px 5px 0 0;
  display: block;
}

.button-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  align-items: center;
}

.button-group-below {
  border-width: 1px 0 0 0;
  border-style: solid;
  height: 50px
}

