<div class="chat-window-wrapper"
     [ngClass]="{'is-fixed': chatLayout.displayType === 1}"
     id="chatWindowWrapper"
     *ngIf="!isLoading">
  <div class="logo"
       style="border-bottom: 1px solid;">
    <img class="logo-chat"
         id="logoChat"/>
  </div>

  <div class="conversation-wrapper"
       id="conversationWrapper">
    <div appAutoScroll
         class="conversation-body"
         [style.order]="chatLayout.textInputType === 0 ? 2 : 1"
         id="conversationBody">
      <app-single-message *ngFor="let message of messages"
                          [msg]="message">
      </app-single-message>
    </div>

    <form class="input-area {{chatLayout.textInputType === 0 ? 'above' : ''}}"
          [style.order]="chatLayout.textInputType === 0 ? 1 : 2"
          [formGroup]="formMessage" novalidate
          id="conversationFooter">
        <textarea class="input-text {{chatLayout.textInputType === 0 ? 'above' : ''}}"
                  [ngClass]="{'by-side':chatLayout.buttonType === 0,
                        'full-side': chatLayout.buttonType === 1}"
                  id="inputText"
                  formControlName="message"
                  placeholder="Write something..."
                  type="text">
        </textarea>

      <app-button-group-chat
        class="button-group"
        *ngIf="chatLayout.buttonType === 0"
        [isBySide]="chatLayout.buttonType === 0"
        (onSendMessage)="sendMessage()"
        (onCloseChat)="closeChat()"
        (onSaveConversation)="saveConversation()"
        (onCloseConversation)="closeConversation()">
      </app-button-group-chat>

    </form>

    <app-button-group-chat
      class="{{chatLayout.buttonType === 1 ? 'button-group-below' : ''}}"
      [style.order]="chatLayout.buttonType === 1 ? 3 : 1"
      *ngIf="chatLayout.buttonType === 1"
      [isBySide]="chatLayout.buttonType === 0"
      (onSendMessage)="sendMessage()"
      (onCloseChat)="closeChat()"
      (onSaveConversation)="saveConversation()"
      (onCloseConversation)="closeConversation()">
    </app-button-group-chat>


  </div>
</div>
