.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px !important;
  border: 1px solid black !important;
  border-radius: 0;
}

.mat-expansion-indicator {
  position: absolute;
  left: 15px;
}


.spacer {
  flex: 1 1 auto;
}

.item-list:hover {
  cursor: pointer;
  color: orangered;
  text-decoration: underline;

}

.item-list[class*="editing"] {
  cursor: none;
  background: transparent;
}

.header {
  text-overflow: ellipsis;
}

.mat-expansion-panel-header[class*="active"] {
  background-color: #ababab !important;

  .panel-title-wrapper {
    font-weight: bold;
  }


}

.mat-expansion-panel-header:hover {
  .panel-title-wrapper {
    .header {
      color: orangered !important;
    }
  }
}

.add-button:hover {
  color: orangered !important;
}

.panel-title-wrapper {
  text-overflow: ellipsis !important;
  width: 100%;
  min-width: 50px !important;
  overflow: hidden !important;
  white-space: nowrap !important;

}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 0;

}

.mat-expansion-panel-header-title {
  max-height: 50px !important;

  > div > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

.mat-list .mat-list-item {
  font-size: 1em;
  height: 35px !important;

}

mat-list-item[class*="active"] {
  background: #ababab;
}

.item-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

