<div class="list-wrapper">
  <div class="wrapper">
    <div class="mask"></div>
    <mat-expansion-panel #matExpansionPanel
                         [hideToggle]="hideToggle"
                         [disabled]="hideToggle"
                         [expanded]="expanded">
      <mat-expansion-panel-header [ngClass]="{'active': isActive && matExpansionPanel.expanded}"
                                  (click)="expandPanel(matExpansionPanel, $event)">
        <mat-panel-title>
          <div class="panel-title-wrapper">
            <span class="header"
                  style="vertical-align:middle; float:left; line-height: 38px">
              {{header}}
            </span>
            <button class="add-button"
                    *ngIf="!hideToggle"
                    style="vertical-align:middle; float:right; line-height: 38px"
                    (click)="addItem()"
                    mat-icon-button>
              <mat-icon class="add-icon">add_circle_outline</mat-icon>
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="itemList.length > 0">
        <mat-list>
          <mat-list-item class="item-list"
                         [ngClass]="{'active': isActive && matExpansionPanel.expanded && selectedIndex === i}"
                         *ngFor="let item of itemList; let i = index"
                         (click)="selectItem(i, item)">
            {{item.name}}
          </mat-list-item>
        </mat-list>
      </div>

    </mat-expansion-panel>
  </div>
</div>
