<div class="container form-wrapper">
  <div class="form-content">
    <h4>{{ 'SignUp.Header' | translate}}</h4>

    <div class="form-divider my-4"></div>
    <form class="w-100 mb-3" [formGroup]="formSignUp" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <input class="form-control flat-input flat-input-lg form-control-success w-100"
               type="email"
               placeholder="{{'SignUp.EmailPlaceholder' | translate}}"
               formControlName="email">
        <div class="input-error-text mt-2"
             *ngIf="!formSignUp.controls['email'].valid && formSignUp.controls['email'].dirty">
          {{ 'SignUp.EmailError' | translate}}
        </div>

      </div>

      <button type="button" class="btn btn-danger btn-block btn-lg" type="submit" [disabled]="!isFormValid()">
        <span *ngIf="!isSigningUp; else signingUp">
            {{ 'SignUp.Button' | translate}}
        </span>
        <ng-template #signingUp>
          <loading-spinner></loading-spinner>
        </ng-template>
      </button>

    </form>
    <div class="form-divider my-4"></div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <span>
            {{ 'SignUp.SignInInvitation' | translate}}
        </span>
        <label (click)="onSwitchToSignIn()">
          {{ 'SignUp.SignIn' | translate}}
        </label>
      </div>
    </div>
  </div>


</div>
