<div class="messenger-wrapper row mx-2 my-1"
     [ngClass]="{'justify-content-end' : !msg.isSystem && !msg.isAgent,
     'justify-content-start': !msg.isSystem && msg.isAgent,
     'justify-content-center': msg.isSystem}">
  <div class="col-auto msg-bubble"
       [ngClass]="{'my-msg' : !msg.isSystem && !msg.isAgent,
       'their-msg': !msg.isSystem && msg.isAgent,
       'system-msg': msg.isSystem}">
    <div class="row" *ngIf="!msg.isSystem">
      <div class="col-auto">{{ msg.name }}</div>
      <div class="col text-right">{{ msg.email }}</div>

    </div>
    <div class="message my-2 vertical-align">
        <span *ngIf="msg.isSystem">
        </span>
      <span [innerHTML]="msg.message"></span>
    </div>
    <div class="row">
      <div class="col-auto" *ngIf="!msg.isSystem">{{ msg.tel }}</div>
      <div class="col message-date text-right">{{ msg.date }}</div>
    </div>

  </div>
</div>
