<div class="messenger-wrapper row"
     [ngClass]="{'my-msg' : !msg.isSystem && !msg.isAgent,
     'their-msg': !msg.isSystem && msg.isAgent,
     'system-msg': msg.isSystem}">
  <div class="msg-bubble"
       [ngClass]="{'my-msg myBubble' : !msg.isSystem && !msg.isAgent,
       'their-msg theirBubble': !msg.isSystem && msg.isAgent,
       'system-msg systemBubble': msg.isSystem}">
    <div class="header-message" *ngIf="!msg.isSystem">
      <div class="">{{ msg.name }}</div>
      <div class="email">{{ msg.email }}</div>

    </div>
    <div class="message">
        <span *ngIf="msg.isSystem">
        </span>
      <span [innerHTML]="msg.message"></span>
    </div>
    <div class="footer-message">
      <div class="message-date">{{ msg.date }}</div>
    </div>

  </div>
</div>
