.msg-bubble {
  padding: 8px 16px;
  border-radius: .8rem;
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.my-msg {
  background-color: #0084ff;
  margin-right: 10px;
  color: #fff;
}

.their-msg {
  background-color: #f1f0f0;
  margin-left: 10px;
}

.system-msg {
  background-color: #f1f0f0;
  font-style: italic;
}

.message-date {
  font-size: 8pt;
}
