<div *ngIf="isConnected; else newConversation">
  <app-messenger class="app-messenger"
                 *ngIf="!isPopUp"
                 [chatLayout]="chatLayout"
                 [chatFrontend]="chatFrontend"
                 [chatId]="chatId"
                 [token]="token"
                 [server]="server"
                 [customer]="customer"
                 [agent]="agent"
                 (onConversation)="onConversation($event)"
  >
  </app-messenger>
</div>

<ng-template #newConversation>
  <div *ngIf="!isLoadingSetting">
    <app-form-chat
      [demandInfoList]="chatFrontend.demandInfo.demandInfoList"
      [isConnecting]="isConnecting"
      (onFormChatChanged)="onFormChatChanged($event)"
    >
    </app-form-chat>
    <button class="my-3" [disabled]="!isFormChatValid" (click)="startNewChat()">
      <span *ngIf="isLoading && !isConnected; else tryToConnect">start new chat</span>
      <ng-template #tryToConnect>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
    </button>
  </div>


</ng-template>
