<div class="layout-wrapper">
  <div class="form-wrapper">
    <div class="display-type">
      <div class="header">Ercheinungsform</div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 my-2 border-option">
        <app-radio-selection
          class="mx-3"
          [options]="supportedLayouts"
          [selectedItemIndex]="selectedLayout.displayType"
          (onSelectionChanged)="onDisplayTypeChanged($event)"
        >
        </app-radio-selection>
      </div>
    </div>

    <div class="formation-type mt-2">
      <div class="header">Anordnung</div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 my-2 border-option">
        <div class="row my-2 mx-3">
          <div class="col-6 pl-0">
            <div class="sub-header">
              Text-Eingabefeld
            </div>
            <div class="border-option">
              <app-radio-selection
                [options]="supportedTextInputs"
                [selectedItemIndex]="selectedLayout.textInputType"
                (onSelectionChanged)="onTextInputTypeChanged($event)"
              >
              </app-radio-selection>
            </div>
          </div>

          <div class="col-6 pr-0">
            <div class="sub-header">Buttons</div>
            <div class="border-option">
              <app-radio-selection
                [options]="supportedButtonType"
                [selectedItemIndex]="selectedLayout.buttonType"
                (onSelectionChanged)="onButtonTypeChanged($event)"
              >
              </app-radio-selection>
            </div>
          </div>
        </div>

        <div class="logo-selection my-2 mx-3">
          <div class="sub-header">
            Logo
          </div>
          <div class="border-option w-100">
            <div class="input-group mb-3 my-3 px-3">
              <app-image-upload
                class="col-12"
                [selectedImage]="logoImg"
                (onImageChanged)="onLogoChanged($event)"
              ></app-image-upload>
            </div>
          </div>
        </div>


        <div class="background-selection my-2 mx-3">
          <div class="sub-header">Hintergrund</div>
          <div class="border-option w-100">
            <app-radio-selection
              [options]="supportedBackgroundType"
              [selectedItemIndex]="selectedLayout.backgroundType"
              [displayAsColumn]="true"
              (onSelectionChanged)="onBackgroundTypeChanged($event)"
            >
            </app-radio-selection>
            <div class="input-group mb-3 px-3">
              <app-image-upload class="col-12"
                                [selectedImage]="backgroundImg"

                                (onImageChanged)="onBackgroundChanged($event)">
              </app-image-upload>
            </div>
          </div>
        </div>

        <div class="font-selection my-2 mx-3">
          <div class="sub-header">Hintergrund</div>
          <div class="border-option w-100">
            <div class="vertical-middle my-2">
              <div class="col vertical-middle">
                <div class="my-2 mr-3">Schriftart</div>
                <app-editable-selection
                  [options]="sampleFontFamily"
                  [selectedOption]="selectedLayout.font.fontFamily"
                  (onSelectionChanged)="onFontFamilyChanged($event)"
                >
                </app-editable-selection>
              </div>

              <div class="col-4 vertical-middle">
                <div class="my-2 mr-3">Größe</div>
                <app-editable-selection
                  [options]="sampleFontSizes"
                  [selectedOption]="selectedLayout.font.fontSize"
                  (onSelectionChanged)="onFontSizeChanged($event)"
                >
                </app-editable-selection>
              </div>
              <div class="col-auto text-center">
                <app-toggle-option
                  [isMultiple]="true"
                  [options]="supportedFontStyles"
                  [selectedIndexItems]="selectedLayout.font.fontStyles"
                  (onOptionsChanged)="onFontStyleChanged($event)"
                >
                </app-toggle-option>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2 mx-3">
          <div class="col-6 pl-0">
            <app-message-bubble [id]="'myMessage'"
                                [subHeader]="'My Message'"
                                [bubbleStyle]="selectedLayout.bubbleStyle.myBubble"
                                (onBubbleStyleChanged)="onMyBubbleStyleChanged($event)"
            >
            </app-message-bubble>

          </div>

          <div class="col-6 pr-0">
            <app-message-bubble
              [id]="'theirMessage'"
              [subHeader]="'Their Message'"
              [bubbleStyle]="selectedLayout.bubbleStyle.theirBubble"
              (onBubbleStyleChanged)="onTheirBubbleStyleChanged($event)"
            >

            </app-message-bubble>
          </div>
        </div>


      </div>


    </div>
  </div>
  <div class="layout-footer button-group">
    <button mat-raised-button (click)="cancelCurrent()">Abrechen</button>
    <button mat-raised-button (click)="submitCurrent()">Speichern</button>
    <button mat-raised-button [disabled]="selectedLayout.id === ''" (click)="setAsDefault()">als Standard</button>

  </div>
</div>
<swal
  #layoutCreatedSwal
  title="Erstellung"
  text="Das Layout ist erzeugt"
  type="success">
</swal>

<swal
  #layoutUpdatedSwal
  title="Aktualisierung"
  text="Das Layout ist aktualisiert"
  type="success">
</swal>

<swal
  #layoutFailedSwal
  title="Erstellung"
  text="Serverfehler"
  type="error">
</swal>
