<div class="layout-wrapper">
  <div class="form-wrapper" [formGroup]="form" novalidate>
    <div class="display-type">
      <div class="header">Ercheinungsform</div>
      <mat-radio-group class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-7 my-2 border-option" formControlName="displayType">

        <mat-radio-button class="my-2 mx-3"
                          *ngFor="let item of supportedLayouts; let i = index"
                          [checked]="selectedLayout.displayType === i"
                          [value]="item.id">
          {{item.title}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="formation-type mt-2">
      <div class="header">Anordnung</div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-7 my-2 border-option">
        <div class="row my-2 mx-3">
          <div class="col-6 pl-0">
            <div class="sub-header">
              Text-Eingabefeld
            </div>
            <mat-radio-group class="my-2 border-option w-100">

              <mat-radio-button class="my-2 mx-3"
                                *ngFor="let item of supportedTextInputs; let i = index"
                                [checked]="selectedLayout.textInputType === i"
                                [value]="item.id">
                {{item.title}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-6 pr-0">
            <div class="sub-header">Buttons</div>
            <mat-radio-group class="my-2 border-option w-100">
              <mat-radio-button class="my-2 mx-3"
                                *ngFor="let item of supportedButtonType; let i = index"
                                [checked]="selectedLayout.buttonType === i"
                                [value]="item.id">
                {{item.title}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="logo-selection my-2 mx-3">
          <div class="sub-header">
            Logo
          </div>
          <div class="border-option w-100">
            <div class="input-group my-3 px-3">
              <div class="custom-file">
                <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChange($event, 0)"
                       class="custom-file-input" id="logo-image">
                <label class="custom-file-label" for="logo-image" aria-describedby="logo-image">
                  {{fileName[0] !== '' ? fileName[0] : 'Choose file'}}
                </label>
              </div>
            </div>

            <div class="row mx-2 align-items-center justify-content-center">
              <image-cropper
                [hidden]="!isSelected[0]"
                [imageChangedEvent]="imageChangedEvent[0]"
                [maintainAspectRatio]="true"
                [aspectRatio]="4/ 3"
                [resizeToWidth]="256"
                format="png"
                (imageCropped)="imageCropped($event, 0)"
                (imageLoaded)="imageLoaded(0)"
                (loadImageFailed)="loadImageFailed()">
              </image-cropper>
              <img [hidden]="logoImg === '' || isSelected[0]"
                   [src]="logoImg"
                   alt=""
                   width="250"
                   height="250">
              <button type="button"
                      mat-raised-button
                      [hidden]="!isSelected[0]"
                      (click)="cropImage($event, 0)">
                Crop
              </button>
            </div>

          </div>
        </div>


        <div class="background-selection my-2 mx-3">
          <div class="sub-header">Hintergrund</div>
          <div class="border-option w-100">
            <mat-radio-group>
              <mat-radio-button class="my-2 mx-3"
                                *ngFor="let item of supportedBackgroundType; let i = index"
                                [checked]="selectedLayout.backgroundType === i"
                                [value]="item.id">
                {{item.title}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="input-group mb-3 px-3">
              <div class="custom-file">
                <input type="file" accept="image/x-png,image/gif,image/jpeg"
                       (change)="onFileChange($event, 1)"
                       class="custom-file-input" id="background-image">
                <label class="custom-file-label" for="background-image" aria-describedby="background-image">
                  {{fileName[1] !== '' ? fileName[1] : 'Choose file'}}
                </label>
              </div>
            </div>

            <div class="row mx-2 align-items-center justify-content-center">
              <image-cropper
                [hidden]="!isSelected[1]"
                [imageChangedEvent]="imageChangedEvent[1]"
                [maintainAspectRatio]="true"
                [aspectRatio]="4/ 3"
                [resizeToWidth]="256"
                format="png"
                (imageCropped)="imageCropped($event, 1)"
                (imageLoaded)="imageLoaded(1)"
                (loadImageFailed)="loadImageFailed()">
              </image-cropper>
              <img [hidden]="backgroundImg === '' || isSelected[1]"
                   [src]="backgroundImg"
                   alt=""
                   width="250"
                   height="250">
              <button type="button"
                      mat-raised-button
                      [hidden]="!isSelected[1]"
                      (click)="cropImage($event, 1)">
                Crop
              </button>
            </div>

          </div>
        </div>

        <div class="font-selection my-2 mx-3" formGroupName="font">
          <div class="sub-header">Hintergrund</div>
          <div class="border-option w-100">
            <div class="vertical-middle my-2">
              <div class="col vertical-middle">
                <div class="my-2 mr-3">Schriftart</div>
                <select class='form-control'
                        formControlName="fontFamily">
                  <option *ngFor="let font of sampleFontFamily; let i = index" [value]="font">{{font}}</option>
                </select>
              </div>

              <div class="col-4 vertical-middle">
                <div class="my-2 mr-3">Größe</div>
                <select class='form-control'
                        formControlName="fontSize">
                  <option *ngFor="let size of sampleFontSizes; let i = index" [value]="size">{{size}} px</option>
                </select>
              </div>
              <div class="col-auto text-center">
                <mat-button-toggle-group #group="matButtonToggleGroup"
                                         formControlName="fontStyles"
                                         multiple>
                  <mat-button-toggle class="font-style-option"
                                     [value]="item.id"
                                     *ngFor="let item of supportedFontStyles; let i = index">
                    <mat-icon>{{item.icon}}</mat-icon>
                  </mat-button-toggle>

                </mat-button-toggle-group>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div class="layout-footer button-group">
    <button mat-raised-button (click)="cancelCurrent()">Abrechen</button>
    <button mat-raised-button (click)="submitCurrent()">Speichern</button>
  </div>
</div>
