
button {
  background-color: #ababab !important;
  &:hover {
    background-color: #8a8a8a !important;
  }
}

.server-connected {
  color: #1e7e34;
}

.server-unconnected {
  color: #bd2130;
}
.table{
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

  thead th {
    border-bottom: none;
  }

  td, th {
    vertical-align: middle !important;
    border-top: none;
    white-space: nowrap
  }


  td:last-child {
    width: 100%;

  }

}
