<div class="container form-wrapper">
  <div class="form-content">
    <h4>{{'SignIn.Header' | translate}}</h4>
    <form class="w-100 mb-3" (ngSubmit)="onSubmit()" [formGroup]="formSignIn" novalidate>
      <div class="alert alert-danger" [hidden]="!wrongPassword" role="alert">
        {{'SignIn.Error' | translate}}
      </div>
      <div class="form-group">
        <input class="form-control flat-input flat-input-lg form-control-success w-100"
               type="email"
               placeholder="{{'SignIn.EmailPlaceholder' | translate}}"
               formControlName="email"
        >
      </div>

      <div class="form-group">
        <input class="form-control flat-input flat-input-lg form-control-success w-100"
               type="password"
               placeholder="{{'SignIn.PasswordPlaceholder' | translate}}"
               formControlName="password"
        >
      </div>


      <button type="button" [disabled]="isLoggingIn" class="btn btn-danger btn-block btn-lg" type="submit">
        <span *ngIf="!isLoggingIn; else loggingIn">
          {{'SignIn.Button' | translate}}
        </span>
        <ng-template #loggingIn>
          <loading-spinner></loading-spinner>
        </ng-template>
      </button>

    </form>
    <div class="form-divider my-4"></div>
    <div class="row justify-content-center">
      <div class="col-auto" >
        <span>
          {{'SignIn.SignUpInvitation' | translate}}
        </span>
        <label (click)="onSwitchToSignUp()">
          {{'SignIn.SignUp' | translate}}
        </label>
      </div>
    </div>
  </div>


</div>
