<div class="sidebar-wrapper mt-3">
  <app-item-list [header]="'Benutzerverwaltung'" [hideToggle]="true"></app-item-list>
  <div class="sidebar-body">
    <app-item-list [header]="layoutType"
                   [itemList]="chatLayouts"
                   [isActive]="currentItem ? currentItem.type === layoutType : false"
                   (onChangeItem)="changeItem($event)">
    </app-item-list>
    <app-item-list [header]="frontendType"
                   [itemList]="chatFrontEnds"
                   [isActive]="currentItem ? currentItem.type === frontendType : false"
                   (onChangeItem)="changeItem($event)">
    </app-item-list>

  </div>
  <app-item-list [header]="'Passwort ändern'" [hideToggle]="true"></app-item-list>

</div>
