<div class="sidebar-wrapper mt-3">
  <div class="header">Benutzerverwaltung</div>
  <div class="sidebar-body">
    <app-item-list [header]="layoutType"
                   [itemList]="chatLayouts"
                   [isActive]="currentItem ? currentItem.type === layoutType : false"
                   (onChangeItem)="changeItem($event)">
    </app-item-list>
    <app-item-list [header]="frontendType"
                   [itemList]="chatFrontEnds"
                   [isActive]="currentItem ? currentItem.type === frontendType : false"
                   (onChangeItem)="changeItem($event)">
    </app-item-list>

  </div>
  <!--<app-item-list [header]="'Passwort ändern'"-->
                 <!--[hideToggle]="true"-->
                 <!--(click)="navigateToChangePasswordPage()">-->
  <!--</app-item-list>-->
  <div class="header password-navi" (click)="navigateToChangePasswordPage()">Passwort ändern</div>
  <div class="header logout" (click)="logout()">logout</div>

</div>
